@font-face {
  font-family: 'gothambold';
  src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
    url('../fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothammedium';
  src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
    url('../fonts/gothammedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothambook';
  src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
    url('../fonts/gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'gothammedium';
  overflow: hidden;
}

/***************
* LEGALS PART *
***************/

.legals {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.legals a {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  margin-left: 25px;
}

.legals a:before {
  color: #FFFFFF;
  text-decoration: none;
  width: 0;
  bottom: -10px;
  content: "";
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 500ms ease-in-out
}

.legals a:hover:before {
  width: 100%;
}


/******************
* LOADER SECTION *
******************/


#loader {
  height: 100vh;
  width: 100vw;
  background: url(../img/fond.jpg);
  background-size: cover;
  background-position: center center;
}

.loaderelm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%
}

#lettre {
  animation: blink linear infinite 1.5s;
}


#lettre2 {
  animation: blink linear infinite 2.5s;
}

#lettre3 {
  animation: blink linear infinite 0.5s;
}

#loadedpercent {
  color: #0AEFF7;
  text-align: center;

}






svg {
  width: 100%;
}

@keyframes blink {
  78% {
    color: inherit;
    filter: drop-shadow(0px 0px 0px #FF00D7);
  }

  79% {
    stroke: #fff;
  }

  80% {

    text-shadow: none;
  }

  81% {
    stroke: inherit;
    text-shadow: inherit;
  }

  82% {
    stroke: #fff;

  }

  83% {
    stroke: inherit;
    text-shadow: inherit;
  }

  92% {
    stroke: #fff;
    text-shadow: none;
  }

  92.5% {
    stroke: inherit;
    text-shadow: inherit;
  }
}

.loaderContenainer {
  width: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%);
}

.blueBar {
  color: #fff !important;
  background-color: #0AEFF7 !important;
}

/***********************
 * LOADER INSTRUCTIONS *
 ***********************/
.instructions {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.instructionsNumber {
  color: #0AEFF7;
  font-size: 150px;
  letter-spacing: -11px;
  font-family: 'gothambold';
}

.instructionContent {
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  font-weight: lighter;
  font-family: 'gothambook';
  max-width: 240px;
}

button#startGame {
  border: none;
  background: transparent;
  color: #FFAAFF;
  font-size: 10px;
  letter-spacing: 5px;
  margin-top: 30px;
  cursor: pointer;
}

#game{ height: 100vh; margin: 0 auto 0 auto; max-width: 100%; width: 100vw; }
#game .zoom{ background-color: #DDD; height: 100%; margin: auto; overflow: hidden; width: 100%; }
#game .zoom .media{ bottom: 0; display: block; left: 0; margin: auto;  width: 100%; position: absolute; right: 0; top: 0; 
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; 
}
.transition{
  transition: -moz-transform ease 200ms;
  transition: -ms-transform ease 200ms;
  transition: -o-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
}

/***************
 * ANSWER PART *
 ***************/

 #answer{
  position:absolute;
  background: rgba(0, 0, 0, 0.7);
  width:100vw;
  Height:100vh;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 #theAnswer{
  font-size:80px;
  color:#fff;
  border:none;
  background:transparent;
  text-align:center;
  text-transform: uppercase;

 }


 #close{
  color:#fff
 }

.theAnswerInstruction{
  color: #fff;
  letter-spacing: 5px;
  margin-top: 50px;
  font-family: 'gothambook';
}

#theAnswer:focus-visible {
  color:#fff;
  border:none;
  background:transparent;
  outline: initial;
}